@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#infobutton {
    left: 25px;
    top: 25px;
    position: fixed;
    cursor: pointer;
}

#info {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    min-height: 50px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

p#data {
    margin-bottom: 0;
    font-weight: 400;
}

#prefix,
#innerdatacontainer strong,
svg,
br {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    font-family: 'Roboto', sans-serif;
}

#innerdatacontainer {
    font-size: 16.5px;
    line-height: 23.5px;
}

#closeicon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#prefix {
    text-align: center;
    font-size: 24px;
    font-weight: 500 !important;
    color: black;
    display: block;
    line-height: 35px;
    border-bottom: 2px solid black;
    -webkit-margin-before: 0em;
    margin-block-start: 0em;
    -webkit-margin-after: 0.5em;
    margin-block-end: 0.5em;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}

@media screen and (min-width: 450px) {
    #info {
        min-width: 450px;
        max-width: 95%;
    }

    #infobutton {
        left: 25px;
        top: 25px;
    }
}

@media screen and (max-width: 449px) {
    #info {
        width: 95%;
    }

    #infobutton {
        left: 12.5px;
        top: 12.5px;
    }
}

@media screen and (max-width: 264px) {
    #closeicon {
        top: 5px;
        right: 5px;
    }
}

@media (prefers-color-scheme: dark) {
    div#innercontainer,
    p#data,
    div#info,
    #info strong {
        color: rgb(218, 218, 218);
        background-color: rgb(37, 37, 37);
    }

    div#info {
        border: 2px solid rgb(138, 138, 138);
    }

    div#info svg {
        fill: rgb(218, 218, 218);
    }

    #prefix {
        border-bottom: 2px solid rgb(218, 218, 218);
    }
}