body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 350px;
    max-width: 500px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#data {
    margin-bottom: 0;
    font-weight: 400;
    overflow-wrap: break-word;
}

#prefix,
#innerdatacontainer strong,
br {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#innerdatacontainer {
    font-size: 16.5px;
    line-height: 23.5px;
}

#prefix {
    text-align: center;
    font-size: 24px;
    font-weight: 500 !important;
    color: black;
    display: block;
    line-height: 35px;
    border-bottom: 2px solid black;
    -webkit-margin-before: 0em;
    margin-block-start: 0em;
    -webkit-margin-after: 0.5em;
    margin-block-end: 0.5em;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}

@media (prefers-color-scheme: dark) {
    div#innercontainer,
    p#data,
    div#info,
    #data strong,
    body {
        color: rgb(218, 218, 218);
        background-color: rgb(37, 37, 37);
    }

    #prefix {
        border-bottom: 2px solid rgb(218, 218, 218);
    }
}